body{
    background-color: crimson;
    justify-content: center;
    text-align: center; 
    margin: 0%;
    
  }
.image{
     background-image: url("high-angle-view-laptop-keyboard_1048944-16811536.jpg")
    
  }
  .container {
    text-align: center;
  }
  
 